#__nuxt {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  --ayingott-bg-color: #fff;
  --ayingott-color: rgba(0, 0, 0, 0.8);

  background-color: var(--ayingott-bg-color);
  color: var(--ayingott-color);
  --uno: font-sans;
}

.dark-mode body {
  --ayingott-bg-color: #1b1b1f;
  --ayingott-color: #ebf4f1;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark-mode::view-transition-old(root) {
  z-index: 9999;
}
.dark-mode::view-transition-new(root) {
  z-index: 1;
}
