@import "tailwindcss";
@import "@ayingott/theme/fonts.css";
@import "@ayingott/theme";

html,
body,
#__nuxt {
  min-height: 100vh;
}

html {
  --ayingott-bg-color: var(--color-surface-2);
  --ayingott-color: rgb(0 0 0 / 0.8);
  background-color: var(--ayingott-bg-color);
  color-scheme: light;
}

body,
#__nuxt {
  background-color: var(--ayingott-bg-color);
  color: var(--ayingott-color);
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

html.dark {
  --ayingott-bg-color: rgb(27 27 31);
  --ayingott-color: rgb(235 244 241);
  color-scheme: dark;
}

#__nuxt {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
