@import "tailwindcss";
@import "@ayingott/theme/fonts.css";
@import "@ayingott/theme";
@import "@ayingott/theme/brutal.css";

@layer base {
  html {
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    isolation: isolate;
    min-width: 320px;
  }
}
